@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  background-color: transparent;
  font-family: 'Noto Sans', sans-serif;
  min-height: 100vh;
}
body.footer-rows-3 {
  padding-bottom: 87px;
}
body.footer-rows-2 {
  padding-bottom: 53px;
}
body.footer-rows-1 {
  padding-bottom: 34px;
}

.footer-row {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  border-top: 1px solid #ddd;
  margin: 0 auto;
}

.footer-row p {
  margin: 0;
  color: #757575;
  font-size: 16px;
  font-weight: normal;
}

.row-offset-2 {
  bottom: 53px;
}

.row-1x {
  padding-top: 5px;
  padding-bottom: 5px;
}
.row-2x {
  padding-top: 10px;
  padding-bottom: 10px;
}
.row-2x p {
  font-size: 22px;
}

/* ------------------------------- */

.list-group-item {
  padding: 0;
  min-height: 42px;
}

.after-tax {
  float: right;
  display: inline-block;
  min-width: 10px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #ddd;
  border-left: 1px solid red;
}

/* <li class="list-group-item">       */
/*   $<span class="dollars">13</span> */
/*   .                                */
/*   <span class="cents">50</span>    */

.dollars {
  width: 50%;
  display: inline-block;
  line-height: 42px;
  text-align: right;
  white-space: nowrap;
  vertical-align: middle;
}
.cents {
  width: 50%;
  display: inline-block;
  line-height: 42px;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
}